body {
  background-color: #CDDAE4 !important;
}

.landing-page {
  background-color: #AFC4D4;
} 

.landing-image {
  height: 400px;
  width: 700px;
  margin-bottom: 30px;
} 

.landing {
  text-align: center;
}

.policy-page {
  background-color: #ABD7D9;
  margin-bottom: 30px;
}

.policy-image {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 400px;
  width: 600px;
  border-radius: 50%;
}

.policy-text {
  font-size: medium;
}

#signout-page {
  font-size: x-large;
}
  
.signout-image {
  height: 400px;
  width: 700px;
}

.spending {
  margin-top: 30px;
  margin-bottom: 30px;
}

.planning {
  margin-top: 30px;
  margin-bottom: 30px;
}